{% extends "layout.html" %} {% block content %}
<div>
  <p>
    Contact info for our partners.
    <br>
    Always check the Operational Notes in the IMS first. 
  </p>
<h4>IVY</h4>
  <table class="table">
    <thead>
      <tr>
	<th>School</th>
	<th>Name</th>
	<th>Office Number</th>
	<th>Cell Number</th>
	<th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<th scope="row">BROWN</th>
	<td>Liz Colleran</td>
	<td></td>
	<td>401-225-0854</td>
	<td>elizabeth_colleran@brown.edu</td>
      </tr>
      <tr>
	<th scope="row">COLUMBIA</th>
	<td>Alex Oberweger</td>
	<td>212-854-8126</td>
	<td>347-756-0355</td>
	<td>ajo13@columbia.edu</td>
      </tr>
      <tr>
	<th scope="row">CORNELL</th>
	<td>John Lukach</td>
	<td></td>
	<td>330-309-4695</td>
	<td>jlukach@cornell.edu</td>
      </tr>
      <tr>
	<th scope="row">DARTMOUTH</th>
	<td>Ben Myers</td>
	<td>603-646-8854</td>
	<td>505-270-1607</td>
	<td>george.b.myers@dartmouth.edu</td>
      </tr>
      <tr>
	<th scope="row">HARVARD</th>
	<td>Imry Haveli</td>
	<td>617-495-3417</td>
	<td>857-891-4012</td>
	<td>ihalevi@fas.harvard.edu</td>
      </tr>
      <!-- <tr> -->
      <!-- 	<th scope="row">PENN</th> -->
      <!-- 	<td>Ryan Koletty</td> -->
      <!-- 	<td>215-746-2568</td> -->
      <!-- 	<td>215-450-2737</td> -->
      <!-- 	<td>rkoletty@upenn.edu</td> -->
      <!-- </tr> -->
      <tr>
	<th scope="row">PENN</th>
	<td>Justin Diaz</td>
	<td>484-643-3131</td>
	<td></td>
	<td>justdiaz@upenn.edu</td>
      </tr>
      <tr>
	<th scope="row">PRINCETON</th>
	<td>Cody Chrusciel</td>
	<td></td>
	<td>973-800-2097</td>
	<td>codyc@princeton.edu</td>
      </tr>
      <tr>
	<th scope="row">YALE</th>
	<td>Sam Rubin</td>
	<td>203-432-1456</td>
	<td>203-314-2668</td>
	<td>sam.rubin@yale.edu</td>
      </tr>
      <tr>
	<th scope="row">IVY LEAGUE</th>
	<td>Matt Panto</td>
	<td>610-657-2254</td>
	<td></td>
	<td>mpanto@princeton.edu</td>
      </tr>
    </tbody>
    </table>


<h4>SoCon</h4>

    <table class="table">
    <thead>
      <tr>
	<th>School</th>
	<th>Name</th>
	<th>Office Number</th>
	<th>Cell Number</th>
	<th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<th scope="row">The Citadel</th>
	<td>Connor Putman</td>
	<td></td>
	<td>719-352-2676</td>
	<td>cputman@citadel.edu</td>
      </tr>
      <tr>
	<th scope="row">ETSU</th>
	<td>Steven May</td>
	<td>540-922-2999</td>
	<td></td>
	<td>maysm1@etsu.edu</td>
      </tr>
      <tr>
	<th scope="row">ETSU</th>
	<td>Jay Sandos</td>
	<td>423-767-3838</td>
	<td></td>
	<td>sandos@mail.etsu.edu</td>
      </tr>
      <tr>
	<th scope="row">ETSU</th>
	<td>Parker Schwartz</td>
	<td>614-572-3086</td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<th scope="row">Furman</th>
	<td>Caleb Furrow</td>
	<td></td>
	<td>864-294-2771</td>
	<td>caleb.furrow@furman.edu</td>
      </tr>
      <tr>
	<th scope="row">Furman</th>
	<td>Mike Arnold</td>
	<td>864-294-3267</td>
	<td></td>
	<td>mike.arnold@furman.edu</td>
      </tr>
      <tr>
	<th scope="row">UNCG</th>
	<td>Tony Hermane</td>
	<td></td>
	<td>336-404-8172</td>
	<td>a_herman@uncg.edu</td>
      </tr>
      <tr>
	<th scope="row">Mercer</th>
	<td>Lisa Cherry</td>
	<td>478-301-2813</td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<th scope="row">Samford</th>
	<td>Kayla Shaffer</td>
	<td>205-726-4148</td>
	<td></td>
	<td>kshaffer@samford.edu</td>
      </tr>
      <tr>
	<th scope="row">UTC</th>
	<td>Leah Gill</td>
	<td>423-425-5656</td>
	<td>423-779-4033</td>
	<td>leah-gill@utc.edu</td>
      </tr>
      <tr>
	<th scope="row">VMI</th>
	<td>Wade Branner</td>
	<td>540-464-7515</td>
	<td></td>
	<td>brannerwh@vmi.edu</td>
      </tr>
      <tr>
	<th scope="row">WCU</th>
	<td>Will Adams</td>
	<td>828-227-2458</td>
	<td>336-601-3578</td>
	<td>brannerwh@vmi.edu</td>
      </tr>
      <tr>
	<th scope="row">Wofford</th>
	<td>Garrett Hall</td>
	<td>864-597-4145</td>
	<td></td>
	<td>hallgd@wofford.edu</td>
      </tr>
      <tr>
	<th scope="row">SoCon</th>
	<td>Paul Lollis</td>
	<td>864-591-5100 (6+1 in phone tree)</td>
	<td></td>
	<td>plollis@socon.org</td>
      </tr>
      <tr>
	<th scope="row">SoCon</th>
	<td>Phil Perry</td>
	<td>864-591-5100</td>
	<td></td>
	<td>pperry@socon.org</td>
      </tr>
    </tbody>
    </table>

    <h4>NCHC</h4>

    <table class="table">
    <thead>
      <tr>
	<th>School</th>
	<th>Name</th>
	<th>Office Number</th>
	<th>Cell Number</th>
	<th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<th scope="row">Colorado College</th>
	<td>Jerry Cross</td>
	<td>719-389-6755</td>
	<td></td>
	<td>jerry.cross@coloradocollege.edu</td>
      </tr>
      <tr>
	<th scope="row">Colorado College</th>
	<td>Scott Lowenberg</td>
	<td>719-389-6111</td>
	<td></td>
	<td>scott.lowenberg@coloradocollege.edu</td>
      </tr>
      <tr>
	<th scope="row">Denver</th>
	<td>Rick Bowness</td>
	<td>308-330-2390</td>
	<td></td>
	<td>richard.bowness@du.edu</td>
      </tr>
      <tr>
	<th scope="row">Denver</th>
	<td>Jeff Howard</td>
	<td>308-871-7893</td>
	<td></td>
	<td>jeff.howard@du.edu</td>
      </tr>
      <tr>
	<th scope="row">Miami</th>
	<td>Steve Baker</td>
	<td>513-330-2100</td>
	<td>513-529-7288</td>
	<td>bakersa@miamioh.edu</td>
      </tr>
      <tr>
	<th scope="row">Minnesota Duluth</th>
	<td>Bob Nygaard</td>
	<td>218-726-8191</td>
	<td></td>
	<td>bnygaard@d.umn.edu</td>
      </tr>
      <tr>
	<th scope="row">Nebraska Omaha</th>
	<td>Dave Ahlers</td>
	<td>402-554-3387</td>
	<td></td>
	<td>dahlers@unomaha.edu</td>
      </tr>
      <tr>
	<th scope="row">North Dakota</th>
	<td>Kyle Doperalski</td>
	<td>701-777-2210</td>
	<td></td>
	<td>kyle.doperalski@athletics.und.edu</td>
      </tr>
      <tr>
	<th scope="row">North Dakota</th>
	<td>Matt Schill</td>
	<td>701-777-2668</td>
	<td>218-791-9561</td>
	<td>matthew.schill@athletics.und.edu</td>
      </tr>
      <tr>
	<th scope="row">St. Cloud State</th>
	<td>Joel Larsen</td>
	<td>320-308-2293</td>
	<td></td>
	<td>jmlarsen@stcloudstate.edu</td>
      </tr>
      <tr>
	<th scope="row">St. Cloud State</th>
	<td>Walter Sylvester</td>
	<td></td>
	<td></td>
	<td>wsylvester@stcloudstate.edu</td>
      </tr>
      <tr>
	<th scope="row">Western Michigan</th>
	<td>Monty Porter</td>
	<td>269-387-3090</td>
	<td></td>
	<td>monty.porter@wmich.edu</td>
      </tr>
      <tr>
	<th scope="row">Western Michigan</th>
	<td>Bob D'Amelio</td>
	<td>269-387-3098</td>
	<td></td>
	<td>robert.damelio@wmich.edu</td>
      </tr>
      <tr>
	<th scope="row">NCHC</th>
	<td>Michael Weisman</td>
	<td>719-694-9924</td>
	<td></td>
	<td>mweisman@nchchockey.com</td>
      </tr>
      <tr>
	<th scope="row">NCHC</th>
	<td>Josh Fenton</td>
	<td>719-418-2427</td>
	<td></td>
	<td>jfenton@nchchockey.com</td>
      </tr>
    </tbody>
    </table>

    <h4>UCF</h4>
    <table class="table">
    <thead>
      <tr>
	<th>School</th>
	<th>Name</th>
	<th>Office Number</th>
	<th>Cell Number</th>
	<th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<th scope="row">UCF</th>
	<td>David Belawski</td>
	<td>407-823-0059</td>
	<td>407-466-9147</td>
	<td>dbelawski@athletics.ucf.edu</td>
      </tr>
      <tr>
	<th scope="row">UCF</th>
	<td>Bobby Blankenship</td>
	<td>407-882-0428</td>
	<td>407-327-8604</td>
	<td>bblankenship@athletics.ucf.edu</td>
      </tr>
      <tr>
	<th scope="row">UCF</th>
	<td>Andy Seeley</td>
	<td>407-823-2729</td>
	<td>407-342-1406</td>
	<td>aseeley@athletics.ucf.edu</td>
      </tr>
      <tr>
	<th scope="row">UCF</th>
	<td>Chip Fontanazza</td>
	<td>407-823-0034</td>
	<td>717-968-0162</td>
	<td>cfontanazza@athletics.ucf.edu</td>
      </tr>
      <tr>
	<th scope="row">UCF</th>
	<td>Nate Blythe</td>
	<td>407-823-6489</td>
	<td>772-240-8742</td>
	<td>nblythe@athletics.ucf.edu</td>
      </tr>
    </tbody>
    </table>

</div>
{% endblock %}
