{% extends "layout.html" %} {% block content %}

<!-- <\\!--/container -\\-> -->

<section id="">
    <div class="container">
        <div class="row">
            <div id="ivy-panel" class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="../static/img/ivy.png">
                    <div class="caption">
                        <h4>Ivy League Network</h4>
                        <hr>
                        <h4>Project Manager:</h4>
                        <h5><br></h5>
                        <h4>Account Manager:</h4>
                        <h5><br></h5>
                        <hr>
                        <a href="http://www.ivyleaguenetwork.com/ivyleague/schedule" class="btn btn-info btn-sm btn-block" role="button" target="_blank">ILDN</a> <a href="http://www.ivyleaguesports.com/landing/index" class="btn btn-primary btn-sm btn-block" role="button" target="_blank">Ivy Athletics</a>
                    </div>
                </div>
            </div>
            <div id="nchc-panel" class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="../static/img/nchc.png">
                    <div class="caption">
                        <h4>NCHC</h4>
                        <hr>
                        <h4>Project Manager:</h4>
                        <h5><br></h5>
                        <h4>Account Manager:</h4>
                        <h5>Katie Davis</h5>
                        <hr>
                        <a href="http://www.nchc.tv/nchc/schedule" class="btn btn-info btn-sm btn-block" role="button" target="_blank">NCHC.tv</a> <a href="http://www.nchchockey.com/" class="btn btn-primary btn-sm btn-block" role="button" target="_blank">NCHC Athletics</a>
                    </div>
                </div>
            </div>
            <div id="socon-panel" class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="../static/img/socon.png">
                    <div class="caption">
                        <h4>SoCon Digital Network</h4>
                        <hr>
                        <h4>Project Manager:</h4>
                        <h5>Will Ortiz</h5>
                        <h4>Account Manager:</h4>
                        <h5><br></h5>
                        <hr>
                        <a href="http://www.socondigitalnetwork.com/socon/schedule" class="btn btn-info btn-sm btn-block" role="button" target="_blank">SoCon</a>
                        <a href="http://www.soconsports.com/HomePage.dbml?DB_OEM_ID=4000&DB_ACCOUNT_TYPE=USER" class="btn btn-primary btn-sm btn-block" role="button" target="_blank">SoCon Athletics</a>
                    </div>
                </div>
            </div>
            <div id="ucf-panel" class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="../static/img/ucf.png">
                    <div class="caption">
                        <h4>UCFKNIGHTS.TV</h4>
                        <hr>
                        <h4>Project Manager:</h4>
                        <h5>Eric Johnson</h5>
                        <h4>Account Manager:</h4>
                        <h5>Cory Hall</h5>
                        <hr>
                        <a href="https://www.ucfknights.tv/schedule" class="btn btn-info btn-sm btn-block" role="button" target="_blank">UCFKNIGHTS.TV</a> <a href="http://www.ucfknights.com/" class="btn btn-primary btn-sm btn-block" role="button" target="_blank">Ucf Athletics</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/container -->
</section>
<hr>
<p class="lead text-center">There are {{todayStoredGames|length}} digital network events today.
</p>

<!-- Calendar/Date Picker -->
<!-- Date is set using the bootstrap-datepicker library. -->
<!-- The f1 script sets the GO link to date selected by the user. -->
<div class="container" style="text-align: center;">
  <div>
    <div style="display: inline-block; margin: 0 auto;">
      <div class="form-group">
	<form action="" method="post" class="date-select" style="display: inline-block; margin-left: auto; margin-right: auto;">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" name="date-select" id="date-select" placeholder="Select a date to view"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
	</form>
	<p>
	  <a href="" id="go" onclick="f1()">SEARCH</a>
	</p>

	<script>
	  function f1()
	  {
	  var dateURL = "/date/" + document.getElementById("date-select").value;
	  document.getElementById("go").href = dateURL;
	  }
	</script>

      </div>
    </div>
  </div>
</div>

<!--DEBUG AREA -->
<p>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
</p>

<section id="todays-event-list">
    <div class="container">
      {% for game in todayStoredGames %}
      <div class="row event-row">
          <div class="col-md-10 col-md-offset-1">
              <!-- Change box outline color based on status -->
                {% if game.status.split(' ')[-1][:-2] == "'NA'" %}
                <div class="thumbnail">
                {% elif game.status.split(' ')[-1][:-2] == "'LSG'" %}
                <div class="thumbnail" style="border: solid green;">
                {% elif game.status.split(' ')[-1][:-2] == "'G'" %}
                <div class="thumbnail" style="border: solid green;">
                {% elif game.status.split(' ')[-1][:-2] == "'LS'" %}
                <div class="thumbnail" style="border: solid sienna;">
                {% elif game.status.split(' ')[-1][:-2] == "'IP'" %}
                <div class="thumbnail" style="border: solid yellow;">
                {% elif game.status.split(' ')[-1][:-2] == "'F'" %}
                <div class="thumbnail" style="border: solid red;">
                {% elif game.status.split(' ')[-1][:-2] == "'NC'" %}
                <div class="thumbnail">
                {% elif game.status.split(' ')[-1][:-2] == "'DNI'" %}
                <div class="thumbnail" style="border: solid green;">
                {% endif %}
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="caption">
                            <div class="none">
                                  <h1 style="font-weight: 400; color: #2e6da4;">{{ game.homeTeam }}</h1>
                                  <h1 style="font-weight: 400; color: #2e6da4;">{{ game.date }}</h1>
                              </div>
                              <div class="none">
                                  <i class="fa fa-home fa-2x server-icon" aria-hidden="true"></i>
                                  <div class="server-text">
                                      <h5 class="nopadding-two">Home Team</h5>
                                      <h6 class="nopadding">{{ game.homeTeam }}</h6>
                                  </div>
                              </div>
			      <div class="none">
                                  <i class="fa fa-suitcase fa-2x server-icon" aria-hidden="true"></i>
                                  <div class="server-text">
                                      <h5 class="nopadding-two">Away Team</h5>
                                      <h6 class="nopadding">{{ game.awayTeam }}</h6>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="caption">
                              <div class="none">
                                  <h1 style="font-weight: 400; color: #337ab7;">{{ game.sport }}</h1>
                                  <h5 class="nopadding-two">League: {{ game.league }}</h5>


                                  <!-- Show contact info for home team or generic contact info page -->
                                  {% if game.contact == "No Contact Info" %}
                                  <h5 class="nopadding-two"><a href="{{ url_for('contact') }}" target="blank">{{ game.contact }}</a></h5> {% else %}
                                  <h5 class="nopadding-two">{{ game.contact }}</h5> {% endif %}

				  <!-- Link to stream info for appropriate league -->
				  {% if game.league == "IVY" %}
				  <h5 class="nopadding-two"><a href="http://nlcfgadmin217.neulion.com:19200/nlds/get_game_schedule.php?client=ivy" target="blank">Stream Info</a></h5>
				  {% endif %}

				  {% if game.league == "SOCON" %}
				  <h5 class="nopadding-two"><a href="http://nlcfgadmin217.neulion.com:19200/nlds/get_game_schedule.php?client=socon" target="blank">Stream Info</a></h5>
				  {% endif %}

				  {% if game.league == "NCHC" %}
				  <h5 class="nopadding-two"><a href="http://nlcfgadmin217.neulion.com:19200/nlds/get_game_schedule.php?client=nchc" target="blank">Stream Info</a></h5>
				  {% endif %}

				  {% if game.league == "UCF" %}
				  <h5 class="nopadding-two"><a href="http://nlcfgadmin217.neulion.com:19200/nlds/get_game_schedule.php?client=ucf" target="blank">Stream Info</a></h5>
				  {% endif %}
                              </div>
			      <!-- Archive checking for ivy events -->
			      {% if game.league == "IVY" %}
			      <div>
			      	{% if game.gameState == 3 %}
			      	<h5 class="nopadding-two">Archive: <span style="color: green;">Set.</h5>
			      	{% else %}
			      	<h5 class="nopadding-two">Archive: <span style="color: red;">Not set. Email gamemanagers@neulion.com at the end of closing shift.</h5>
			      	{% endif %}
			      </div>
			      {% endif %}
			      
			      {% set OEMNumbers = {"Brown": "31700", "Cornell": "31800", "Harvard": "31900", "Princeton": "10600", "Columbia": "9600", "Dartmouth": "11600", "Penn": "1700", "Yale": "32000", "Colorado College": "90650", "Miami": "26100", "North Dakota": "13500", "St. Cloud State": "28600", "Denver": "90614", "Minnesota Duluth": "90640", "Omaha": "31400", "Western Michigan": "4600", "Chattanooga": "17700", "Furman": "90624", "Samford": "90626", "UNCG": "32200", "WCU": "90627", "ETSU": "90622", "Mercer": "90625", "Citadel": "90621", "VMI": "9800", "Wofford": "90628", "UCF": "34100"} %}
			      {% if game.homeTeam in OEMNumbers.keys() %}
  			        {% if game.extID.split("_")[0] == OEMNumbers[game.homeTeam] %}
			        <div>
				  <h5 style="color: green;">External ID starts with home team OEM number.</h5>
				</div>
			        {% elif game.extID.split("_")[0] == "888888" %}
			        <div>
				  <h5 style="color: green;">External ID starts with {{ game.extID.split("_")[0] }} but home team OEM number is {{ OEMNumbers[game.homeTeam] }}.  This is normal for audio only streams.</h5>
			        </div>
			        {% elif game.league == "UCF" %}
			        <div>
				  <h5 style="color: green;">External ID starts with {{ game.extID.split("_")[0] }} but home team OEM number is {{ OEMNumbers[game.homeTeam] }}.  This is normal for UCF streams.</h5>
			        </div>
			        {% else %}
			        <h5 style="color: red;">External ID starts with {{ game.extID.split("_")[0] }} but home team OEM Number is {{ OEMNumbers[game.homeTeam] }}.</h5>
			        {% endif %}
				{% else %}
				<div>
			          <h5 style="color: red;">External ID starts with {{ game.extID.split("_")[0] }} but no OEM Number found for {{ game.homeTeam }}.</h5>
				</div>
				{% endif %}																	   
			      
                          </div>
                      </div>
                  </div>
                  <!--/row-->
                  <div class="row">
                      <div class="col-sm-12">
                          <!-- If statements to check league/build play links -->
                          {% if game.league == "IVY" and game.extID.split("_")[0] != "888888" %}
                          <a class="btn btn-info btn-block" role="button" href="http://www.ivyleaguenetwork.com/ivyleague/game/{{ game.seoName }}" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a>
			  {% endif %}
			  {% if game.league == "IVY" and game.extID.split("_")[0] == "888888" %}
			  <a class="btn btn-info btn-block" role="button" href="http://www.ivyleaguenetwork.com/ivyleague/game/{{ game.seoName }}?type=audio&feed=home" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a>
			  {% endif %}
			  {% if game.league == "SOCON" and game.extID.split("_")[0] != "888888" %}
                          <a class="btn btn-info btn-block" role="button" href="http://www.socondigitalnetwork.com/socon/game/{{ game.seoName }}" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a>
			  {% endif %}
			  {% if game.league == "SOCON" and game.extID.split("_")[0] == "888888" %}
			  <a class="btn btn-info btn-block" role="button" href="http://www.socondigitalnetwork.com/socon/game/{{ game.seoName }}?type=audio&feed=home" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a>
			  {% endif %}
			  {% if game.league == "UCF" and game.extID.split("_")[0] != "888888" %}
                          <a class="btn btn-info btn-block" role="button" href="http://www.ucfknights.tv/game/{{ game.seoName }}" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a>
			  {% endif %}
			  {% if game.league == "UCF" and game.extID.split("_")[0] == "888888" %}
			  <a class="btn btn-info btn-block" role="button" href="http://www.ucfknights.tv/game/{{ game.seoName }}?type=audio&feed=home" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a>
			  {% endif %}
			  {% if game.league == "NCHC" and game.extID.split("_")[0] != "888888" %}
                          <a class="btn btn-info btn-block" role="button" href="http://www.nchc.tv/nchc/game/{{ game.seoName }}" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a>
			  {% endif %}
			  {% if game.league == "NCHC" and game.extID.split("_")[0] == "888888" %}
			  <a class="btn btn-info btn-block" role="button" href="http://www.nchc.tv/nchc/game/{{ game.seoName }}?type=audio&feed=home" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i> Play</a>
			  {% endif %}

                          <button class="btn btn-primary btn-block show-form" role="button"><i class="fa fa-sticky-note" aria-hidden="true"></i> Notes</button>
                      </div>
                  </div>
                  <!--/row-->
                  <div class="row hidden hidden-form">
                      <div class="col-sm-12">
                          <hr>
                          <!-- This is an unholy mess of string splitting and slicing. -->
                          <div class="text-center">
                              <h4>Event ID: {{ game.eventID }}</h4> {% set statusList = game.status.replace(",", "") %} {% set statusList = statusList.replace("[", "") %} {% set statusList = statusList.replace("(", "") %} {% set statusList = statusList.split(")") %} {% set notesList = game.notes.replace(",", "") %} {% set notesList = notesList.replace("[", "") %} {% set notesList = notesList.replace("(", "") %} {% set notesList = game.notes.split(")") %} {% for i in range(0, statusList|length - 1) %}
                              <h4>{{ statusList[i][:-5] }}: {{ statusList[i][-4:] }}: {{ notesList[i].split("'")[-2] }}</h4> {% endfor %}
                          </div>
                      </div>
                      <div class="col-sm-12">
                          <hr>
                          <div id="formWrapper">
                              <form id="myForm" action="{{ request.path }}" name="confirmationForm" method="POST">
                                  <div style="display: block" class="input-group">
                                      <span class="input-group-addon" data-toggle="buttons">
                                        <label class="btn btn-sm active btn-warning">
                                          <input type="radio" name="options" id="IP" value="IP" autocomplete="off" checked><i class="fa fa-check-circle" aria-hidden="true"></i>IP
                                        </label>
                                        <label class="btn btn-sm btn-success">
                                          <input type="radio" name="options" id="G" value="G" autocomplete="off"><i class="fa fa-check-circle" aria-hidden="true"></i>G
                                        </label>
                                        <br>
                                        <label class="btn btn-sm btn-success">
                                          <input type="radio" name="options" id="LSG" value="LSG" autocomplete="off"><i class="fa fa-check-circle" aria-hidden="true"></i>LSG
                                        </label>
                                        <label class="btn btn-sm btn-warning">
                                          <input type="radio" name="options" id="LS" value="LS" autocomplete="off"><i class="fa fa-check-circle" aria-hidden="true"></i>LS
                                        </label>
                                        <br>
                                        <label class="btn btn-sm btn-danger">
                                          <input type="radio" name="options" id="F" value="F" autocomplete="off"><i class="fa fa-check-circle" aria-hidden="true"></i>F
                                        </label>
                                        <label class="btn btn-sm btn-default">
                                          <input type="radio" name="options" id="NA" value="NA" autocomplete="off"><i class="fa fa-check-circle" aria-hidden="true"></i>NA
                                        </label>
                                        <br>
                                        <label class="btn btn-sm btn-default">
                                          <input type="radio" name="options" id="NC" value="NC" autocomplete="off"><i class="fa fa-check-circle" aria-hidden="true"></i>NC
                                        </label>
                                        <label class="btn btn-sm btn-success">
                                          <input type="radio" name="options" id="DNI" value="DNI" autocomplete="off"><i class="fa fa-check-circle" aria-hidden="true"></i>DNI
                                        </label>
                                      </span>

                                      <!-- <span><textarea style="resize:none" class="form-control custom-control" rows="4" type="text" name="confirmationForm" data-event-id="{{ game.eventID }}"></textarea></span> -->
                                      <span class="input-group-addon">
                                        <textarea type="text" style="resize:none" class="form-control custom-control" rows="4" name="notes" placeholder="Please initial your notes"></textarea>
                                        <input type="hidden" name="eventID" id="{{ game.eventID }}" value="{{ game.eventID }}">
                                      </span>

                                      <!-- <span id="submitMyForm" class="input-group-addon btn btn-primary" type="submit">Send</span> -->
                                      <span class="input-group-addon">
                                        <input id="submitMyForm" class="input-group-addon btn btn-primary" type="submit" value="Update" style="width: 100px;">
                                      </span>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!--/row-->
                </div>
            </div>
        </div>
        <!--/row-->
        {% endfor %}
    </div>
    <!--/container -->
</section>

{% endblock %}
