<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="ROBOTS" content="NOINDEX, FOLLOW">
  <meta name="ROBOTS" content="INDEX, NOFOLLOW">
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  <!-- https://support.google.com/webmasters/answer/35179?hl=en Google-->
  <meta name="google-site-verification" content="">
  <!-- http://opengraphprotocol.org/ FB-->
  <meta name="og:title" content="">
  <meta name="og:type" content="website">
  <meta name="og:url" content="">
  <meta name="og:site_name" content="">
  <meta name="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="400">
  <meta property="og:image:height" content="300">
  <!-- Title of the Webpage -->
  <title>DLEP</title>
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../static/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <!-- Latest compiled Bootstrap DateTime Picker -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-datetimepicker.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">DLEP</a>
	    <a class="navbar-brand" href="/contact">Contacts</a>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/container -->
</nav>


  
  {% block content %}{% endblock %}

  <footer>
    <div class="container text-center">
      <p>Please report any bugs/issues with this tool to william.renneker@neulioncollege.com</p>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="../static/js/moment.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/npm.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap-datetimepicker.js"></script>
  <!-- Custom Javascript -->
  <script type="text/javascript" src="../static/js/main.js"></script>

</body>

</html>
