{% extends "layout.html" %} {% block content %}
<!-- Top content -->
<div class="top-content">

  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
          <h1><strong>Unicorn</strong> Login Form</h1>
          <div class="description">
            <p>
              Monitoring tools for Client Support and Partners.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Login to our site</h3>
              <p>Enter your email and password to log on:</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-lock"></i>
            </div>
          </div>
          <div class="form-bottom">
            <form role="form" action="" method="post" class="login-form">
              <div class="form-group">
                <label class="sr-only" for="form-email">Email</label>
                <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="form-password">Password</label>
                <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password">
              </div>
              <button type="submit" class="btn">Sign in!</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 social-login">
          <h3>...or login with:</h3>
          <div class="social-login-buttons">
            <a class="btn btn-link-2" href="#">
              <i class="fa fa-google" aria-hidden="true"></i> Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
