
/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-top: 50px;
    margin-top: 70px;
    background-color: #FCFCFC;
}

strong {
    font-weight: 500;
}

a, a:hover, a:focus {
    color: #2e6da4;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

.navbar-default {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-brand {
  font-size: 24px;
}

.divide-nav {
    height: 50px;
    background-color: #428bca;
}

.divide-text {
    color: #fff;
    line-height: 20px;
    font-size: 20px;
    padding: 15px 0;
}

.affix {
    top: 50px;
    width: 100%;
}

.filler {
    min-height: 2000px;
}

.navbar-form {
    padding-left: 0;
}

.navbar-collapse {
    padding-left: 0;
}

.thumbnail {
    border: 4px solid #ddd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.panel {
    position: relative;
}

.panel-default>.panel-leftheading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary>.panel-leftheading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success>.panel-leftheading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info>.panel-leftheading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning>.panel-leftheading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger>.panel-leftheading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading {
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody {
    float: left;
    margin-left: 45px;
    padding: 15px;
}

.server-text {
    display: inline-block;
}

.server-text>.nopadding {
    padding: 0 0 0 0 !important;
    margin: 0 !important;
    color: #777;
    font-weight: 800;
}

.server-text>.nopadding-two {
    padding: 15px 0 0 0 !important;
    margin: 0 !important;
    font-weight: 600;
}



/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    .inner-bg {
        padding: 60px 0 110px 0;
    }
}

@media (max-width: 415px) {
    h1, h2 {
        font-size: 32px;
    }
}
